<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<table>
<tr><td valign="top" width="50%">
<p>Click "Open" to create a connection to the server, 
"Send" to send a message to the server and "Close" to close the connection. 
You can change the message and send multiple times.
<p>
<form>
<button id="open">Open</button>
<button id="close">Close</button>
<p><input id="input" type="text" value="Hello Hushengs!">
<button id="send">Chat Send</button>
<button id="message_push">Message Push</button>
</form>
</td><td valign="top" width="50%">
<div id="output" style="max-height: 70vh;overflow-y: scroll;"></div>
</td></tr></table>
<script>  
    window.addEventListener("load", function(evt) {
    
        var output = document.getElementById("output");
        var input = document.getElementById("input");
        var ws;
    
        var print = function(message) {
            var d = document.createElement("div");
            d.textContent = message;
            output.appendChild(d);
            output.scroll(0, output.scrollHeight);
        };
    
        document.getElementById("open").onclick = function(evt) {
            if (ws) {
                return false;
            }
            var rands = Math.floor(Math.random()*10)
            if (rands % 2==0){
                ws = new WebSocket("ws://127.0.0.1:8082/interface/ws?userName=Hushengs");
            }else{
                ws = new WebSocket("ws://127.0.0.2:8083/interface/ws1?userName=Hushengs");
            }
            console.log(ws)
            // ws = new WebSocket("wss://127.0.0.1:8081/interface/ws?userName=Hushengs");
            ws.onopen = function(evt) {
                print("OPEN");
            }
            ws.onclose = function(evt) {
                print("CLOSE");
                ws = null;
            }
            ws.onmessage = function(evt) {
                print("RESPONSE: " + evt.data);
            }
            ws.onerror = function(evt) {
                print("ERROR: " + evt.data);
            }
            return false;
        };
    
        document.getElementById("send").onclick = function(evt) {
            if (!ws) {
                return false;
            }
            print("SEND: " + input.value);
            ws.send(input.value);
            return false;
        };
    
        document.getElementById("message_push").onclick = function(evt) {
            var xhr = new GetXmlHttpObject();
            xhr.open("GET", "http://127.0.0.1:8081/admin/message/send?message="+input.value);
            xhr.send(null);
        };
    
    
        document.getElementById("close").onclick = function(evt) {
            if (!ws) {
                return false;
            }
            ws.close();
            return false;
        };
    
    
        function GetXmlHttpObject() {
                var xmlHttp=null;
                try {
                    // Firefox, Opera 8.0+, Safari
                    console.log("XMLHttpRequest");
                        xmlHttp=new XMLHttpRequest();
                } catch (e) {
                    // Internet Explorer
                    try {
                        console.log("Msxml2");
                        xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
                    } catch (e) {
                        console.log("Microsoft");
                        xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
                    }
                }
                return xmlHttp;
        }
    });
</script>
</body>
</html>